### Determining new EV charger locations in Prague, Czech Republic
###### This is the main part of the analysis, based on the data from csv files no. 1, 2, 3, 4 - attached to the thesis.

In [117]:
import pandas as pd
pd.set_option("display.precision", 2)
pd.set_option('display.width', 200)

### Table of variables
###### Here is a list of all variables used in the analysis, some of which are used for the calculations below.

In [118]:
table = pd.read_csv("./Variables.csv", delimiter=";")
table

   Name  Value/Unit                                            Meaning          Determination/Calculation
0    xj       {0,1}  Binary variable whether car park 𝑗 is selected...                                0,1
1    nj     integer            Number of chargers in station 𝑗 per day                                  2
2    qj     integer  Number of cars charged by station 𝑗 at the sam...                                  4
3    pj         CZK           Charging price per minute in a station j                                 10
4    tj     minutes    Estimated duration of an EV being fully charged                               81.6
5    mj     integer  Maximum number of charging sessions per day in...                                 71
6    lj     integer              Upper bound of chargers in station 𝑗                            0.1 • pc
7   rij       {0,1}  Binary variable which represents the service a...                                0,1
8    fi     integer        Average traffic flow in grid cell 𝑖 per day          Individual value per tile
9    Ki     integer  Number of traffic flow measurement points in g...          Individual value per tile
10  fki     integer  Daily traffic flow in individual point in grid...          Individual value per tile
11   Au  percentile  Usable area in grid cell 𝑖 (dependent on the l...          Individual value per tile
12    A          m2                         Total area of grid cell 𝑖                                1km2
13   Ai          m2                     Mixed-use area in grid cell 𝑖           Individual value per tile
14  dri     integer            Remaining demand in grid cell 𝑖 per day          Individual value per tile
15   di     integer    Charging demand of an EV in grid cell 𝑖 per day          Individual value per tile
16  dic     integer              New charger potential demand coverage          Individual value per tile
17  diz     integer  Charging demand of an EV in grid cell 𝑖 alread...                                 71
18  cej         CZK                  Capital cost of station j per day                         2180.52968
19  coj         CZK                Operating cost of station j per day                              41504
20  crj         CZK  Renting fee per day of parking lot j (in CZK p...                                720
21  ccj         CZK                                   Cost per charger                             596920
22    u  percentile                                EV penetration rate                       0.0049240122
23    α         kWh                     Average capacity of EV battery                                 68
24  pep         CZK              Purchase price of electricity per kWh                                  8
25  pes         CZK                Sales price of electricity per kWh                                  12
26   cs         kWh                             Average charging speed                                 50
27   pc     integer  Max. proportion of a car park dedicated to EV ...  10% of total parking lot capacity

Defining needed constants - converting them to a needed format.

In [119]:
table['Number_conversion'] = table['Determination/Calculation'].astype(float, errors='ignore')
table

   Name  Value/Unit                                            Meaning          Determination/Calculation                  Number_conversion
0    xj       {0,1}  Binary variable whether car park 𝑗 is selected...                                0,1                                0,1
1    nj     integer            Number of chargers in station 𝑗 per day                                  2                                  2
2    qj     integer  Number of cars charged by station 𝑗 at the sam...                                  4                                  4
3    pj         CZK           Charging price per minute in a station j                                 10                                 10
4    tj     minutes    Estimated duration of an EV being fully charged                               81.6                               81.6
5    mj     integer  Maximum number of charging sessions per day in...                                 71                                 71
6    lj     integer              Upper bound of chargers in station 𝑗                            0.1 • pc                           0.1 • pc
7   rij       {0,1}  Binary variable which represents the service a...                                0,1                                0,1
8    fi     integer        Average traffic flow in grid cell 𝑖 per day          Individual value per tile          Individual value per tile
9    Ki     integer  Number of traffic flow measurement points in g...          Individual value per tile          Individual value per tile
10  fki     integer  Daily traffic flow in individual point in grid...          Individual value per tile          Individual value per tile
11   Au  percentile  Usable area in grid cell 𝑖 (dependent on the l...          Individual value per tile          Individual value per tile
12    A          m2                         Total area of grid cell 𝑖                                1km2                               1km2
13   Ai          m2                     Mixed-use area in grid cell 𝑖           Individual value per tile          Individual value per tile
14  dri     integer            Remaining demand in grid cell 𝑖 per day          Individual value per tile          Individual value per tile
15   di     integer    Charging demand of an EV in grid cell 𝑖 per day          Individual value per tile          Individual value per tile
16  dic     integer              New charger potential demand coverage          Individual value per tile          Individual value per tile
17  diz     integer  Charging demand of an EV in grid cell 𝑖 alread...                                 71                                 71
18  cej         CZK                  Capital cost of station j per day                         2180.52968                         2180.52968
19  coj         CZK                Operating cost of station j per day                              41504                              41504
20  crj         CZK  Renting fee per day of parking lot j (in CZK p...                                720                                720
21  ccj         CZK                                   Cost per charger                             596920                             596920
22    u  percentile                                EV penetration rate                       0.0049240122                       0.0049240122
23    α         kWh                     Average capacity of EV battery                                 68                                 68
24  pep         CZK              Purchase price of electricity per kWh                                  8                                  8
25  pes         CZK                Sales price of electricity per kWh                                  12                                 12
26   cs         kWh                             Average charging speed                                 50                                 50
27   pc     integer  Max. proportion of a car park dedicated to EV ...  10% of total parking lot capacity  10% of total parking lot capacity

In [120]:
def get_variable_value(table: pd.DataFrame, variable_name: str):
    try:
        value = float(table[table['Name'] == variable_name]['Number_conversion'])
    except:
        value = table[table['Name'] == variable_name]['Number_conversion']
    return value

get_variable_value(table, 'mj')

71.0

#### Loading the file with the key data for the scoring model.

In [121]:
table_2 = pd.read_csv("./File 4 - New charger placement scoring model.csv", delimiter=";")
table_2.astype(float)

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi
0        1.0                               0.0                       0.0   0.0      0.0
1        2.0                               0.0                       0.0   0.0      0.0
2        3.0                               0.0                       0.0   0.0      0.0
3        4.0                               0.0                       0.0   0.0      0.0
4        5.0                               0.0                       0.0   0.0      0.0
..       ...                               ...                       ...   ...      ...
377    378.0                               0.0                       1.0  35.0  15700.0
378    379.0                               0.0                       0.0   0.0      0.0
379    380.0                               0.0                       0.0   0.0      0.0
380    381.0                               0.0                       1.0  36.0  21800.0
381    382.0                               0.0                       1.0  17.0  22250.0

[382 rows x 5 columns]

#### Here are the calculation of the needed variables to determine which grids (Grid ID) have the highest missing demand (dri)

In [122]:
table_2['di'] = get_variable_value(table, 'u') * table_2['fi']
table_2

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi      di
0          1                                 0                         0   0.0      0.0    0.00
1          2                                 0                         0   0.0      0.0    0.00
2          3                                 0                         0   0.0      0.0    0.00
3          4                                 0                         0   0.0      0.0    0.00
4          5                                 0                         0   0.0      0.0    0.00
..       ...                               ...                       ...   ...      ...     ...
377      378                                 0                         1  35.0  15700.0   77.31
378      379                                 0                         0   0.0      0.0    0.00
379      380                                 0                         0   0.0      0.0    0.00
380      381                                 0                         1  36.0  21800.0  107.34
381      382                                 0                         1  17.0  22250.0  109.56

[382 rows x 6 columns]

In [123]:
table_2['diz'] = get_variable_value(table, 'mj') * table_2['No. of charging stations in grid']
table_2

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi      di  diz
0          1                                 0                         0   0.0      0.0    0.00  0.0
1          2                                 0                         0   0.0      0.0    0.00  0.0
2          3                                 0                         0   0.0      0.0    0.00  0.0
3          4                                 0                         0   0.0      0.0    0.00  0.0
4          5                                 0                         0   0.0      0.0    0.00  0.0
..       ...                               ...                       ...   ...      ...     ...  ...
377      378                                 0                         1  35.0  15700.0   77.31  0.0
378      379                                 0                         0   0.0      0.0    0.00  0.0
379      380                                 0                         0   0.0      0.0    0.00  0.0
380      381                                 0                         1  36.0  21800.0  107.34  0.0
381      382                                 0                         1  17.0  22250.0  109.56  0.0

[382 rows x 7 columns]

In [124]:
table_2['dri'] = table_2['di'] - table_2['diz']
table_2

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi      di  diz     dri
0          1                                 0                         0   0.0      0.0    0.00  0.0    0.00
1          2                                 0                         0   0.0      0.0    0.00  0.0    0.00
2          3                                 0                         0   0.0      0.0    0.00  0.0    0.00
3          4                                 0                         0   0.0      0.0    0.00  0.0    0.00
4          5                                 0                         0   0.0      0.0    0.00  0.0    0.00
..       ...                               ...                       ...   ...      ...     ...  ...     ...
377      378                                 0                         1  35.0  15700.0   77.31  0.0   77.31
378      379                                 0                         0   0.0      0.0    0.00  0.0    0.00
379      380                                 0                         0   0.0      0.0    0.00  0.0    0.00
380      381                                 0                         1  36.0  21800.0  107.34  0.0  107.34
381      382                                 0                         1  17.0  22250.0  109.56  0.0  109.56

[382 rows x 8 columns]

In [125]:
table_2['dic'] = table_2['pc'] * 17.65
table_2

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi      di  diz     dri     dic
0          1                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
1          2                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
2          3                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
3          4                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
4          5                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
..       ...                               ...                       ...   ...      ...     ...  ...     ...     ...
377      378                                 0                         1  35.0  15700.0   77.31  0.0   77.31  617.75
378      379                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
379      380                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00
380      381                                 0                         1  36.0  21800.0  107.34  0.0  107.34  635.40
381      382                                 0                         1  17.0  22250.0  109.56  0.0  109.56  300.05

[382 rows x 9 columns]

#### Here is an adjustment to the variable 'Demand covered by new chargers' not to show inf, but 0 as a lowest possible value.

In [126]:
table_2['Demand covered by new chargers'] = get_variable_value(table, 'mj') / table_2['dri']
table_2

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi      di  diz     dri     dic  Demand covered by new chargers
0          1                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
1          2                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
2          3                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
3          4                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
4          5                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
..       ...                               ...                       ...   ...      ...     ...  ...     ...     ...                             ...
377      378                                 0                         1  35.0  15700.0   77.31  0.0   77.31  617.75                            0.92
378      379                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
379      380                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                             inf
380      381                                 0                         1  36.0  21800.0  107.34  0.0  107.34  635.40                            0.66
381      382                                 0                         1  17.0  22250.0  109.56  0.0  109.56  300.05                            0.65

[382 rows x 10 columns]

In [127]:
table_2.replace([float('inf')], 0, inplace=True)
table_2

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc       fi      di  diz     dri     dic  Demand covered by new chargers
0          1                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
1          2                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
2          3                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
3          4                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
4          5                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
..       ...                               ...                       ...   ...      ...     ...  ...     ...     ...                             ...
377      378                                 0                         1  35.0  15700.0   77.31  0.0   77.31  617.75                            0.92
378      379                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
379      380                                 0                         0   0.0      0.0    0.00  0.0    0.00    0.00                            0.00
380      381                                 0                         1  36.0  21800.0  107.34  0.0  107.34  635.40                            0.66
381      382                                 0                         1  17.0  22250.0  109.56  0.0  109.56  300.05                            0.65

[382 rows x 10 columns]

#### This is the final table which is sorted by descending order to show grids with highest outstanding demand not covered by the existing chargers.
###### Since we look for 10 chargers, the top 10 grids where is an available car park for building ('No. of car parks in grid > 0), the selected grids are:
###### Grid ID: 289, 272, 14, 267, 225, 32, 18, 141, 42, 145

In [132]:
#table_2['Demand covered by new chargers with unrestricted lj'] = table_2['Demand covered by new chargers'] / table_2['dri']
#table_2['Demand covered by new chargers with unrestricted lj'] = table_2['Demand covered by new chargers with unrestricted lj'].fillna(0) 
#table_2['Demand covered by new chargers with unrestricted lj'] = table_2['Demand covered by new chargers with unrestricted lj'].astype(float) 
#table_2

table_2.sort_values(by = 'dri', ascending = False, inplace=True)
table_2.head(40)

     Grid ID  No. of charging stations in grid  No. of car parks in grid    pc         fi      di    diz     dri      dic  Demand covered by new chargers
147      148                                 0                         0   0.0  132450.00  652.19    0.0  652.19     0.00                            0.11
249      250                                 0                         0   0.0  125500.00  617.96    0.0  617.96     0.00                            0.11
288      289                                 0                         1  26.5  121900.00  600.24    0.0  600.24   467.72                            0.12
324      325                                 0                         0   0.0  117600.00  579.06    0.0  579.06     0.00                            0.12
128      129                                 0                         0   0.0  113000.00  556.41    0.0  556.41     0.00                            0.13
25        26                                 0                         0   0.0   90300.00  444.64    0.0  444.64     0.00                            0.16
198      199                                 0                         0   0.0   87900.00  432.82    0.0  432.82     0.00                            0.16
292      293                                 0                         0   0.0   83100.00  409.19    0.0  409.19     0.00                            0.17
63        64                                 0                         0   0.0   83000.00  408.69    0.0  408.69     0.00                            0.17
271      272                                 0                         1  14.5   82300.00  405.25    0.0  405.25   255.92                            0.18
13        14                                 0                         1  27.0   75300.00  370.78    0.0  370.78   476.55                            0.19
122      123                                 0                         0   0.0   74650.00  367.58    0.0  367.58     0.00                            0.19
266      267                                 0                         1  46.5   66360.00  326.76    0.0  326.76   820.72                            0.22
252      253                                 2                         0   0.0   92600.00  455.96  142.0  313.96     0.00                            0.23
311      312                                 0                         0   0.0   63600.00  313.17    0.0  313.17     0.00                            0.23
325      326                                 0                         0   0.0   63250.00  311.44    0.0  311.44     0.00                            0.23
224      225                                 0                         1  29.5   63150.00  310.95    0.0  310.95   520.67                            0.23
295      296                                 0                         0   0.0   62700.00  308.74    0.0  308.74     0.00                            0.23
31        32                                 0                         2  13.5   60500.00  297.90    0.0  297.90   238.27                            0.24
54        55                                 0                         0   0.0   60400.00  297.41    0.0  297.41     0.00                            0.24
215      216                                 0                         0   0.0   58050.00  285.84    0.0  285.84     0.00                            0.25
371      372                                 2                         0   0.0   85400.00  420.51  142.0  278.51     0.00                            0.25
294      295                                 0                         0   0.0   56400.00  277.71    0.0  277.71     0.00                            0.26
118      119                                 0                         0   0.0   55200.00  271.81    0.0  271.81     0.00                            0.26
17        18                                 2                         4  68.5   83000.00  408.69  142.0  266.69  1209.02                            0.27
12        13                                 0                         0   0.0   52750.00  259.74    0.0  259.74     0.00                            0.27
101      102                                 0                         0   0.0   49800.00  245.22    0.0  245.22     0.00                            0.29
375      376                                 0                         0   0.0   49500.00  243.74    0.0  243.74     0.00                            0.29
140      141                                 1                         1  43.5   62750.00  308.98   71.0  237.98   767.77                            0.30
108      109                                 0                         0   0.0   47800.00  235.37    0.0  235.37     0.00                            0.30
188      189                                 0                         0   0.0   47500.00  233.89    0.0  233.89     0.00                            0.30
217      218                                 0                         0   0.0   45500.00  224.04    0.0  224.04     0.00                            0.32
41        42                                 1                         1  21.0   59900.00  294.95   71.0  223.95   370.65                            0.32
89        90                                 0                         0   0.0   45400.00  223.55    0.0  223.55     0.00                            0.32
143      144                                 0                         0   0.0   45083.33  221.99    0.0  221.99     0.00                            0.32
254      255                                 0                         0   0.0   44700.00  220.10    0.0  220.10     0.00                            0.32
144      145                                 0                         1  47.0   44400.00  218.63    0.0  218.63   829.55                            0.32
75        76                                 0                         0   0.0   44300.00  218.13    0.0  218.13     0.00                            0.33
279      280                                 0                         1  38.0   43900.00  216.16    0.0  216.16   670.70                            0.33
60        61                                 0                         0   0.0   43400.00  213.70    0.0  213.70     0.00                            0.33